*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    /* height: 100vh; */
    /* background-color: #111; */
}
#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
     height: 6vw;
     width: 6vw;
     background-color: #0DA34E;
     border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-brand{
    margin-top: 3vh;
}
.h-brands{
    font-size: 1vw;
    padding: 10px 10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: lowercase;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: #111;
}