*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    /* height: 100vh; */
    /* background-color: #111; */
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 2vw 7vw;
    /* overflow: hidden; */
    z-index: 10;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-around;
}
.nav-btn{
    padding: 15px 30px;
    background-color: #0DA34E;
    outline: none;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

#nav-part2 h4{
    font-size: 0.9vw;
    text-transform: uppercase;
    font-weight: 600;
}
nav:hover #nav-bottom ,#nav-bottom-text{
    height: 150%;
    bottom: -150%;
}
#nav-bottom{
    position: absolute;
    width: 86%;
    height: 0%;
    bottom: 0%;
    transition: all ease 0.56s;
    background-color: #111;
    border-bottom: 1px solid white;
    overflow: hidden;
}
#nav-bottom-text{
    width: 65%;
    height: 0%;
    bottom: 0%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
}
.bottom-nav h5{
     /* line-height: 25px; */
     margin-bottom: 17px;
     font-size: 0.9vw;
}
#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow: hidden;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
     height: 6vw;
     width: 6vw;
     background-color: #0DA34E;
     border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-brand{
    margin-top: 3vh;
}
.h-brands{
    font-size: 1vw;
    padding: 10px 10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: lowercase;
}
#moving-div{
    width: 44%;
    position: absolute;
    bottom: 5%;
    padding: 1vw;
    white-space: nowrap;
    /* background-color: red; */
    overflow: hidden;
}
#moving-div .move{
   display: inline-block;
   animation-name: move;
   animation-duration: 15s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1vw;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent, #111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    position: relative;
    padding: 1vw 7vw;
    overflow: hidden;
}
#page2-left{
    width: 35%;
    height: 88%;
    /* background-color: #4d4d4d; */
    /* margin-left: 7vw; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
#top-page2-left{
    width: 40%;
    /* background-color: #0DA34E; */
    font-size: 1vw;
    font-weight: 200;
    padding-top: 30px;
}
#bottom-page2-left{
    font-size: 1vw;
    font-weight: 400;
}
#page2-right{
    width: 55%;
    height: 88%;
    /* background-color: #5d5d5d;    */
}
.page2-right-div{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 25%;
    border-bottom: 1px solid rgb(137, 137, 137);
    padding-top: 30px;
    margin-top: 10px;
    /* background-color: #0DA34E; */
    position: relative;
}
.last-div{
    border-bottom: none;
}
.page2-right-heading{
    width: 60%;
    /* background-color: #0DA34E; */
}
.page2-right-heading h3{
    font-size: 1.5vw;
    font-weight: 100;
}
.corner-div{
    width: 20%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.corner-div p{
    font-size: 1vw;
    font-weight: 100;
}
.arrow{
    font-size: 1.5vw;
}
.page2-right-div img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: url(https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page3-center{
    /* width: 20%; */
    /* padding: 10px; */
    height: 150px;
    width: 150px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon{
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon i{
    font-size: 3vw;
    color: #111;
    font-weight: 400;
}
.page3-center h5{
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    background-color: white;
    color: #111;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(10%);
    text-transform: uppercase;
}

.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    z-index: 999;
}

#page4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page4-left{
    width: 40%;
    height: 100%;
    /* background-color: #0DA34E; */
}
#page4-heading{
    width: 60%;
    margin-top: 150px;
    margin-left: 110px;
    /* background-color: lightblue; */
}
#page4-heading h1{
    font-size: 3vw;
    color: #000;
}
.page4-right{
    width: 50%;
    height: 100%;
    margin-right: 5%;
    /* background-color: #111; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding-top: 20vh;
    gap: 50px;
}
.page4-right>p{
     font-size: 0.8vw;
     font-weight: 100;
     text-transform: uppercase;
     color: #a7a7a7;
}
.page4-right>h2{
    font-size: 1.5vw;
    color: #222222;
    font-weight: 300;
}
#page5{
    width: 100%;
    height: 100vh;
    /* background-color: #0DA34E; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
}
.boxs{
    width: 490px;
    padding: 20px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxs h1{
    font-size: 5vw;
    font-weight: 100;
    color: #000;
}
.boxs>p{
    color: #000;
}
#page6{
    width: 100%;
    height: 100vh;
    /* background-color: #0DA34E; */
}
.page6-text{
    width: 70vw;
    height: 60vh;
    transform: translate(20%,35%);
    /* background-color: #a7a7a7; */
}
.top-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left-text p{
    font-size: 1vw;
    font-weight: 200;
    color: rgb(42, 42, 42);
}
.right-text h2{
    font-size: 2vw;
    font-weight: 500;
    color: #000;
}
.bottom-text h2{
    font-size: 2vw;
    font-weight: 500;
    color: #000;
}
#page7{
    min-height: 100vh;
    width: 100%;
    /* background-color: #bababa; */
}
.section{
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 10vw;
}
.section-left{
    width: 25%;
    height: 100%;
    /* background-color: antiquewhite; */
    border-top: 2px solid black;
}
.section-left h2{
    font-size: 3vw;
    color: #111;
    font-weight: 400;
}
.section-left i{
    color: #111;
}
.section-left p{
    font-weight: 2vw;
    color: #111;
    font-weight: 400;
    margin-top: 70px;
}
.section-right{
    width: 70%;
    height: 100%;
    background-color: #302d2d;
    position: relative;
}
.section-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-right video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
}