*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: lightsteelblue;
}
.option-container > div{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.option-container > div :hover{
    scale: 1px;
}